/* https://fonts.google.com/specimen/Roboto+Mono?query=Roboto+Mono&sidebar.open=true&selection.family=Chelsea+Market|Roboto+Mono */
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto+Mono&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    max-width: 100%; /* No horizontal scroll bar! */
    font-family: 'Roboto Mono', monospace;
    border: solid 1px gray; /* debug */
}

/* general (global) style */
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    line-height: 1.5; /* multiple of font size */
}
a {
    text-decoration: none;
    letter-spacing: 3px;
}
section {
    padding: 4% 0;
}
:root {
    /* --button-padding: 5px; */
    /* --button-width: 160px; */
    --img-width: 256px;
    --hero-heading-padding: 50px;
}

.Center {
    /* Center: */
    text-align: center;     /* Horizontally */
    vertical-align: middle; /* Vertically */
}
header {
    height: 300px;   
    padding: 30px;
}
header img {
    /* height: 100%; */
    width: var(--img-width);
    border-radius: 50%;
    display: inline-block;
}
#Hero-headings {
    display: inline-block;
    text-align: center;
    padding: 50px;
    /* padding: 10%; */

    position: absolute;
    /* height: 100%; */
    width: calc(100% - var(--img-width) - 2 * var(--hero-heading-padding));
}

h1 {
    font-family: 'Chelsea Market', cursive;
}


nav {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
}
nav :nth-child(1) { background: #FF764E; }
nav :nth-child(2) { background: #5ED3EB; }
nav :nth-child(3) { background: #FFCD69; }

.Nav-link {
    display: inline-block;
    border-radius: 15%;
    width: 160px;
    padding: 5px;
    text-decoration: none;
    color: white;
    margin: 0 150px;
}

#Section-about {
    /* Color the background of the main text body with #DDB9A3 */
    background: #DDB9A3;
}

#Section-features {
    
}

#Section-features img {
    height: 256px;
    display: block;
}
#Section-features p {

}

footer {
    background-color: #F9E7DC;
}



/* * Centered content and margins around content */
/* * Footer image positioning */