/* https://fonts.google.com/specimen/Roboto+Mono?query=Roboto+Mono&sidebar.open=true&selection.family=Chelsea+Market|Roboto+Mono */
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Roboto+Mono&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    max-width: 100%; /* No horizontal scroll bar! */
    font-family: 'Roboto Mono', monospace;

    /* debug */
    /* border: solid 1px gray;  */
}

/* general (global) style */
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    line-height: 1.3; /* multiple of font size */
}
a {
    text-decoration: none;
    letter-spacing: 3px;
}
section {
    padding: 4% 0;
}
:root {
    --img-width: 256px;
    --hero-heading-padding: 50px;
    --base-nav-link-width: 150px;
    --nav-link-padding: 8px;
    --nav-link-width: calc(var(--base-nav-link-width) + var(--nav-link-padding));
}

.Center {
    /* Center: */
    text-align: center;     /* Horizontally */
    vertical-align: middle; /* Vertically */
}
header {
    height: 300px;   
    padding: 30px;
}
header img {
    /* height: 100%; */
    width: var(--img-width);
    border-radius: 50%;
    display: inline-block;
}
#Hero-headings {
    display: inline-block;
    text-align: center;
    padding: 50px;
    /* padding: 10%; */

    position: absolute;
    /* height: 100%; */
    width: calc(100% - var(--img-width) - 2 * var(--hero-heading-padding));

    margin: 0 auto;
}

h1 {
    font-family: 'Chelsea Market', cursive;
}


nav {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
}
nav :nth-child(1) { background: #FF764E; }
nav :nth-child(2) { background: #5ED3EB; }
nav :nth-child(3) { background: #FFCD69; }

.Nav-link {
    display: inline-block;
    border-radius: 15%;
    width: var(--nav-link-width);
    padding: var(--nav-link-padding);
    text-decoration: none;
    color: white;
    margin: 0 150px;
}

#Section-about {
    background: #DDB9A3;
    color: white;
    padding: 10px 40px;
    margin: 0 5%;
}
#Section-about p:nth-child(1) {
    margin-bottom: 30px;
}

.Feature img {
    margin: 0 auto;
    width: 180px;
}
.Feature p {
    width: 20%;
    margin: 0 auto;
    text-align: center;
}

#Section-features img {
    height: 256px;
    display: block;
}

footer {
    background-color: #F9E7DC;
}
footer .img-container {
    background-image: url("./assets/footer_img.jpg");
    height: 400px;
    width: 100%;
    background-size: cover;
}